{% load i18n %}

<div class="languages">
  <div class="page">
    <a href="/lang/?lang=cs">Cesky</a>
    <a href="/lang/?c=en">English</a>
  </div>
</div>

<footer class="clearfix page">
  <div class="row">
    <ul class="col s4">
      <li><a href="/about/">{% trans 'About us' %}</a></li>
      <li><a href="mailto:support@localexperts.cz">{% trans 'Contact us' %}</a></li>
      <li><a href="/interviews/">{% trans 'Interviews' %}</a></li>
    </ul>
    <ul class="col s4">
      <li><a href="/terms/">{% trans 'Terms' %}</a></li>
      <li><a href="/privacy/">{% trans 'Privacy' %}</a></li>
      <li><a href="/press">{% trans 'Press & Media' %}</a></li>
    </ul>
    <ul class="col s4">
      <li><a href="https://www.facebook.com/toplocalexperts/">{% trans 'Facebook' %}</a></li>
      <li><a href="https://www.instagram.com/local.experts/">{% trans 'Instagram' %}</a></li>
      <li><a href="https://twitter.com/localexpertscz">{% trans 'Twitter' %}</a></li>
    </ul>
  </div>

  <div class="footer-form-btn">
    <i class="fas fa-comments"></i>
  </div>

  <div class="footer-form">
    {% include 'webapp/partials/footer-form.html' %}
  </div>
</footer>

