{% load i18n %}

<footer class="clearfix page">
  <div class="row">
    <ul class="col s4">
      <li><a href="/about/">{% trans 'About us' %}</a></li>
      <li><a href="">{% trans 'Feedback' %}</a></li>
      <li><a href="">{% trans 'Contact us' %}</a></li>
    </ul>
    <ul class="col s4">
      <li><a href="/terms/">{% trans 'Terms' %}</a></li>
      <li><a href="/privacy/">{% trans 'Privacy' %}</a></li>
      <li><a href="">{% trans 'Press & Media' %}</a></li>
    </ul>
    <ul class="col s4">
      <li><a href="https://www.facebook.com/toplocalexperts/">{% trans 'Facebook' %}</a></li>
      <li><a href="">{% trans 'Instagram' %}</a></li>
      <li><a href="">{% trans 'Twitter' %}</a></li>
    </ul>
  </div>

  <div class="footer-form-btn">
    <i class="fas fa-comments"></i>
  </div>

  <div class="footer-form">
    {% include 'webapp/partials/footer-form.html' %}
  </div>
</footer>
