{% load i18n %}

<div class="message-sidebar sidebar category-{{ expert.category_id }}">
  <div class="input-spacing">
    <div class="close-sideber">
      <i class="fas fa-times-circle"></i>
    </div>
  </div>

  {% if user.is_authenticated %}
    <form action="/webapp/create_message/" method="post">
      {% csrf_token %}
      <input type="hidden" name="to_user" id="to_user_id" value="{{ expert.id }}" />
      <input type="hidden" name="from_user" id="from_user_id" value="{{ request.user.id }}" />
      <input type='hidden' name="replied_message" id="replied_message_id" value="0" />
      <div class="input-spacing">
        <div class="input-field">
          <textarea type="text" id="id_body" name="body" required="true" autofocus></textarea>
          <label for="id_body">{% trans 'Send Message to Expert' %}</label>
        </div>
      </div>
      <div class="input-spacing">
        <input class="btn" type="submit" name="submit" value="{% trans 'Send' %}" />
      </div>
    </form>
  {% else %}
    {% include 'marketing/not_logged_in.html' %}
  {% endif %}
</div>
