<!DOCTYPE html>
<html lang="en">
<head>
    <title>Local Experts</title>
    <meta charset="UTF-8" />

    <meta name="title" content="Local Experts" />
    <meta name="description" content="Spojujeme lidi k vyřešení jejich problémů" />

    <meta property="og:url"           content="https://www.localexperts.cz" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Local Experts" />
    <meta property="og:description"   content="Spojujeme lidi k vyřešení jejich problémů" />
    <meta property="og:image"         content="https://www.localexperts.cz/static/images/img-connecting.jpg" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    {% load staticfiles %}

     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--  CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/nouislider.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/steps.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/box.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/masthead.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/user-box.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/search-filters.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/rating.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabs.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/register.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/search.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/expert.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/messages.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/news.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/marketing.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}" />

    <script src="//platform-api.sharethis.com/js/sharethis.js#property=5bc9aa0d0c55ed0011c02606&product=inline-share-buttons"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
         fbq('init', '1420949254828371');
        fbq('track', 'PageView');
    </script>
    <noscript>
         <img height="1" width="1"
        src="https://www.facebook.com/tr?id=1420949254828371&ev=PageView
        &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>

    {% block content %}
    {% endblock %}

    {% include 'webapp/partials/footer.html' %}

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Extract to separate file -->
    <script>
        $(document).ready(function(){
            $('textarea').addClass('materialize-textarea');
        });
    </script>

    <script src="{% static 'script/validation.js' %}"></script>
    <script src="{% static 'script/nouislider.js' %}"></script>

    <script src="{% static 'script/register.js' %}"></script>
    <script src="{% static 'script/search.js' %}"></script>
    <script src="{% static 'script/expert.js' %}"></script>
    <script src="{% static 'script/messages.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'script/general.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-13206452-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-13206452-1');
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC08FThB6s0M7plHZRcLyySLsFgK0BFmE&v=3.exp&libraries=places"></script>
    <script src="{% static 'script/google_map.js' %}"></script>

</body>
</html>
