{% extends "webapp/base.html" %}
{% block content %}
{% load i18n %}

{% if just_registered == 'true' %}
  {% include 'marketing/just_registered.html' %}
{% endif %}

{% if question_sent == 'true' %}
  {% include 'marketing/question_sent.html' %}
{% endif %}

<div class="index">

  <div class="bg-top">
    <div class="top-cover">
      {% include 'webapp/partials/nav.html' %}
      <h1>
        <span>{% trans 'Find a Lawyer, Accountant, Translator' %}</span>
      </h1>

      <div class="row">
        <div class="col s12 l3"></div>
        <div class="col s12 l6">
          {% include 'marketing/search.html' %}
        </div>
        <div class="col s12 l3"></div>
      </div>
    </div>
  </div>

  <div class="page">
    <div class="row">
      <div class="col s12 home-section">
        <h2>{% trans 'Find an Expert' %}</h2>
        <h3>{% trans 'Filter experts by location, experience, rate, reviews to find the right one for your job.' %}</h3>
      </div>
    </div>
  </div>

  <div class="index-experts home-section">
    <ul class="index-user-boxes">
      {% include 'marketing/experts.html' %}
    </ul>
  </div>

  <div class="row profile home-section">
    <div class="col s12 l7">
      {% include 'marketing/profile.html' %}
    </div>
    <div class="col s12 l5 profile-content">
      <h4>Local Experts</h4>
      <h2>{% trans 'Get in touch' %}</h2>
      <p>{% trans 'Local Experts provides simple messaging system for quick communication between clients and experts.' %}</p>
      <p>{% trans 'It is up to you which way you stay in touch, phone, email, chat.' %}</p>

      <div class="profile-message messages">
        {% include 'marketing/messages.html' %}
      </div>

    </div>
  </div>

  <div class="home-section">
    <h2>{% trans 'Are you an Expert or looking for one?' %}</h2>
    <h3>{% trans 'Find out more about how you can benefit from our platform.' %}</h3>
  </div>
  <div class="home-section">
    <div class="row">
      <div class="col s12 l6 home-box" id="home-expert">
        <div class="home-home-cover">
          <h2>{% trans 'Experts' %}</h2>
          <h3>{% trans 'Get your qualified leads today! It only takes 2 minuts to create your profile. Our platform is currently free to join and use.' %}</h3>
          <a href="/experts_details" >{% trans 'Find out more' %}</a>
        </div>
      </div>
      <div class="col s12 l6 home-box" id="home-client">
        <div class="home-home-cover">
          <h2>{% trans 'Clients' %}</h2>
          <h3>{% trans 'Find your new Lawyer, Accountant, Translator in your area. Our platform is currently free to join and use. ' %}</h3>
          <a href="/clients_details" >{% trans 'Find out more' %}</a>
        </div>
      </div>
    </div>
  </div>

  {% include 'marketing/join.html' %}
  {% include 'marketing/local_experts.html' %}
  {% include 'marketing/industry_news.html' %}
  {% include 'includes/district_list.html' %}

</div>

{% endblock %}
