{% load i18n %}

<option value="">{% trans 'Czech Republic' %}</option>
<option value="1">Praha 1</option>
<option value="2">Praha 2</option>
<option value="3">Praha 3</option>
<option value="4">Praha 4</option>
<option value="5">Praha 5</option>
<option value="6">Praha 6</option>
<option value="7">Praha 7</option>
<option value="8">Praha 8</option>
<option value="9">Praha 9</option>
<option value="10">Praha 10</option>

<option value="11">Praha 11</option>
<option value="12">Praha 12</option>
<option value="13">Praha 13</option>
<option value="14">Praha 14</option>
<option value="15">Praha 15</option>
<option value="16">Praha 16</option>
<option value="17">Praha 17</option>
<option value="18">Praha 18</option>
<option value="19">Praha 19</option>

<option value="20">Praha 20</option>
<option value="21">Praha 21</option>
<option value="22">Praha 22</option>
<option value="23">Benešov</option>
<option value="24">Beroun</option>
<option value="25">Blansko</option>
<option value="26">Brno-město</option>
<option value="27">Brno-venkov</option>
<option value="28">Bruntál</option>
<option value="29">Břeclav</option>

<option value="30">Česká Lípa</option>
<option value="31">České Budějovice</option>
<option value="32">Český Krumlov</option>
<option value="33">Děčín</option>
<option value="34">Domažlice</option>
<option value="35">Frýdek-Místek</option>
<option value="36">Havlíčkův</option>
<option value="37">Hodonín</option>
<option value="38">Hradec</option>
<option value="39">Cheb</option>

<option value="40">Chomutov</option>
<option value="41">Chrudim</option>
<option value="42">Jablonec nad Nisou</option>
<option value="43">Jeseník</option>
<option value="44">Jičín</option>
<option value="45">Jihlava</option>
<option value="46">Jindřichův Hradec</option>
<option value="47">Karlovy Vary</option>
<option value="48">Karviná</option>
<option value="49">Kladno</option>

<option value="50">Klatovy</option>
<option value="51">Kolín</option>
<option value="52">Kroměříž</option>
<option value="53">Kutná Hora</option>
<option value="54">Liberec</option>
<option value="55">Litoměřice</option>
<option value="56">Louny</option>
<option value="57">Mělník</option>
<option value="58">Mladá Boleslav</option>
<option value="59">Most</option>

<option value="60">Náchod</option>
<option value="61">Nový Jičín</option>
<option value="62">Nymburk</option>
<option value="63">Olomouc</option>
<option value="64">Opava</option>
<option value="65">Ostrava-město</option>
<option value="66">Pardubice</option>
<option value="67">Pelhřimov</option>
<option value="68">Písek</option>
<option value="69">Plzeň-jih</option>

<option value="70">Plzeň-město</option>
<option value="71">Plzeň-sever</option>
<option value="75">Prachatice</option>
<option value="76">Prostějov</option>
<option value="77">Přerov</option>
<option value="78">Příbram</option>
<option value="79">Rakovník</option>

<option value="80">Rokycany</option>
<option value="81">Rychnov nad Kněžnou</option>
<option value="82">Semily</option>
<option value="83">Sokolov</option>
<option value="84">Strakonice</option>
<option value="85">Svitavy</option>
<option value="86">Šumperk</option>
<option value="87">Tábor</option>
<option value="88">Tachov</option>
<option value="89">Teplice</option>
<option value="90">Trutnov</option>
<option value="91">Třebíč</option>
<option value="92">Uherské Hradiště</option>
<option value="93">Ústí nad Labem</option>
<option value="94">Ústí nad Orlicí</option>
<option value="95">Vsetín</option>
<option value="96">Vyškov</option>
<option value="97">Zlín</option>
<option value="98">Znojmo</option>
<option value="99">Žďár nad Sázavou</option>

