{% extends "webapp/base.html" %}
{% block content %}
{% load i18n %}

<div class="expert">
  <div class="bg-top">
    <div class="top-cover">
      {% include 'webapp/partials/nav.html' %}
      <div class="top-category-icon">
        <i class="far fa-building"></i>
      </div>
      <h1>
          <span>{% trans 'About us' %}</span>
      </h1>
    </div>
  </div>

  <div class="page">
    <div class="row">
      <div class="col s12 main-content">
        <h4>Local Experts</h4>
        <p>Founded in November of 2018 and based in Prague, Czech Republic, Local Experts is a trusted community marketplace of experts.
</p>
         <p>Local Experts connects people to professional expets, at any price point.
</p>

        <p>With growing community of users, Local Experts is the easiest way to monetize your skills while providing the highest quality of service.</p>

        <h4>Company</h4>
        <ul>
          <li>Getquantify sro</li>
          <li>ICO: </li>
          <li>DIC: </li>
          <li>V Obchodnom registri Okresného súdu Bratislava I - Vložka číslo:  94779/B</li>
        </ul>
      </div>
    </div><!-- Row -->
  </div><!-- Page -->
</div>

{% include 'marketing/local_experts.html' %}

{% endblock %}


