{% extends "webapp/base.html" %}
{% block content %}
{% load i18n %}

<div class="expert">
  <div class="bg-top">
    <div class="top-cover">
      {% include 'webapp/partials/nav.html' %}
      <div class="top-category-icon">
        <i class="far fa-building"></i>
      </div>
      <h1>
          <span>{% trans 'About us' %}</span>
      </h1>
    </div>
  </div>

  <div class="page">
    <div class="row">
      <div class="col s12 main-content">


        <h4>Naše mise</h4>

        <p>V Local Experts se domníváme, že existuje lepší způsob, jak propagovat odborníky a jejich služby. Cennější, čistá a přímočará propagace se zaměřením na klíčová data.</p>

        <p->Naše poslání je pomoci lidem najít odborníka, který dokonale odpovídá jejich potřebám, které jsou nejblíže jejich domovu, pracovnímu místu.</p->

        <h4>Naše historie</h4>

        <p>Local Experts, založená v listopadu roku 2018 se sídlem v Praze, je důvěryhodným komunitním trhem který spojuje lidi s profesionálními experty.</p>

        <h4>Společnost</h4>
        <ul>
          <li>Getquantify sro</li>
          <li>IČO: 47 538 953<li/>
          <li>DIČ: SK2023949785<li/>
          <li>Email: support@localexperts.cz</li>
          <li>Benadicka 7, 851 06 Bratislava, SK</li>
        </ul>

        <h4>Zakladatel</h4>
        <p>Roman Leinwather</p>
        <img src="/static/images/rl.jpg" alt="Roman Leinwather" style="width: 30%;" />

      </div>
    </div><!-- Row -->
  </div><!-- Page -->
</div>

{% include 'marketing/local_experts.html' %}

{% endblock %}


