{% load i18n %}


<li class="user-box category-1">
  <div class="category-icon">
    <i class="fas fa-balance-scale"></i>
  </div>
  <div class="user-box-top">
    <div class="profile-pic" style="background: #f2f2f2 url('/static/images/img-home-user-6.jpg') center center no-repeat; background-size: cover;" >
    </div>
    <div class="user-full-name">
       Marek Prchal
    </div>
    <div  class="distric">
      <i class="fas fa-map-marker-alt"></i>
      Praha 3
    </div>
  </div>
  <div class="user-box-bottom">
    <div class="user-value long">
      <label>{% trans 'Experience' %}</label>
      <div class="value">7</div>
    </div>
    <div class="user-value long">
      <label>{% trans 'Hour rate' %}</label>
      <div class="value">1000 - 1500</div>
    </div>
    <div class="user-value">
      <label>{% trans 'Rating' %}</label>
      <div class="value">
          5.0
        <i class="fas fa-star"></i>
      </div>
    </div>
   </div>
</li>


<li class="user-box category-3">
  <div class="category-icon">
    <i class="fas fa-bullhorn"></i>
  </div>
  <div class="user-box-top">
    <div class="profile-pic" style="background: #f2f2f2 url('/static/images/img-home-user-3.jpg') center center no-repeat; background-size: cover;" >
    </div>
    <div class="user-full-name">
       Zuzana Novotná
    </div>
    <div  class="distric">
      <i class="fas fa-map-marker-alt"></i>
      Praha 5
    </div>
  </div>
  <div class="user-box-bottom">
    <div class="user-value long">
      <label>{% trans 'Experience' %}</label>
      <div class="value">3</div>
    </div>
    <div class="user-value long">
      <label>{% trans 'Hour rate' %}</label>
      <div class="value">300 - 500</div>
    </div>
    <div class="user-value">
      <label>{% trans 'Rating' %}</label>
      <div class="value">
          4.6
        <i class="fas fa-star"></i>
      </div>
    </div>
   </div>
</li>


<li class="user-box category-2">
  <div class="category-icon">
    <i class="fas fa-calculator"></i>
  </div>
  <div class="user-box-top">
    <div class="profile-pic" style="background: #f2f2f2 url('/static/images/img-home-user-2.jpg') center center no-repeat; background-size: cover;" >
    </div>
    <div class="user-full-name">
       Petra Svobodová
    </div>
    <div  class="distric">
      <i class="fas fa-map-marker-alt"></i>
      Praha 8
    </div>
  </div>
  <div class="user-box-bottom">
    <div class="user-value long">
      <label>{% trans 'Experience' %}</label>
      <div class="value">4</div>
    </div>
    <div class="user-value long">
      <label>{% trans 'Hour rate' %}</label>
      <div class="value">550 - 840</div>
    </div>
    <div class="user-value">
      <label>{% trans 'Rating' %}</label>
      <div class="value">
          4.2
        <i class="fas fa-star"></i>
      </div>
    </div>
   </div>
</li>


<li class="user-box category-3">
  <div class="category-icon">
    <i class="fas fa-bullhorn"></i>
  </div>
  <div class="user-box-top">
    <div class="profile-pic" style="background: #f2f2f2 url('/static/images/img-home-user-1.jpg') center center no-repeat; background-size: cover;" >
    </div>
    <div class="user-full-name">
       Iveta Rigrová
    </div>
    <div  class="distric">
      <i class="fas fa-map-marker-alt"></i>
      Praha 1
    </div>
  </div>
  <div class="user-box-bottom">
    <div class="user-value long">
      <label>{% trans 'Experience' %}</label>
      <div class="value">10</div>
    </div>
    <div class="user-value long">
      <label>{% trans 'NS' %}</label>
      <div class="value">400 - 1200</div>
    </div>
    <div class="user-value">
      <label>{% trans 'Rating' %}</label>
      <div class="value">
          4.9
      <i class="fas fa-star"></i>
      </div>
    </div>
   </div>
</li>

<li class="user-box category-2">
  <div class="category-icon">
    <i class="fas fa-calculator"></i>
  </div>
  <div class="user-box-top">
    <div class="profile-pic" style="background: #f2f2f2 url('/static/images/img-home-user-5.jpg') center center no-repeat; background-size: cover;" >
    </div>
    <div class="user-full-name">
       Ivan Král
    </div>
    <div  class="distric">
      <i class="fas fa-map-marker-alt"></i>
      Praha 1
    </div>
  </div>
  <div class="user-box-bottom">
    <div class="user-value long">
      <label>{% trans 'Experience' %}</label>
      <div class="value">5</div>
    </div>
    <div class="user-value long">
      <label>{% trans 'Hour rate' %}</label>
      <div class="value">500 - 750</div>
    </div>
    <div class="user-value">
      <label>{% trans 'Rating' %}</label>
      <div class="value">
          5.0
        <i class="fas fa-star"></i>
      </div>
    </div>
   </div>
</li>

<li class="user-box category-1">
  <div class="category-icon">
    <i class="fas fa-balance-scale"></i>
  </div>
  <div class="user-box-top">
    <div class="profile-pic" style="background: #f2f2f2 url('/static/images/img-home-user-4.jpg') center center no-repeat; background-size: cover;" >
    </div>
    <div class="user-full-name">
       Andrea Beblavá
    </div>
    <div  class="distric">
      <i class="fas fa-map-marker-alt"></i>
      Praha 1
    </div>
  </div>
  <div class="user-box-bottom">
    <div class="user-value long">
      <label>{% trans 'Experience' %}</label>
      <div class="value">12</div>
    </div>
    <div class="user-value long">
      <label>{% trans 'Hour rate' %}</label>
      <div class="value">1000 - 1800</div>
    </div>
    <div class="user-value">
      <label>{% trans 'Rating' %}</label>
      <div class="value">
          5.0
        <i class="fas fa-star"></i>
      </div>
    </div>
   </div>
</li>
