{% load i18n %}

<div class="message-main">
  <div class="message-table" id="received_messages">
      <div class="message-row clearfix">
        <div class="message-data clearfix">
          <div class="message-header clearfix">
            <div class="status status-1">
               <i class="fas fa-bell"></i>
            </div><!-- Status -->
            <div class="from">marek.vondruska@gmail.com</div>
            <div class="replied"></div>
            <div class="recieved">12.5.2019 - 14:00</div>
          </div><!-- Message Header -->
          <div class="message-body clearfix">
            Zdravím vás<br/><br/>

            Mohli bychom se sejít ve čtvrtek 22.5 v naší kanceláři - 9:00?<br/><br/>
            Děkuji
          </div><!-- Message Body -->
        </div><!-- Message Data -->
      </div><!-- Row -->
  </div><!-- Message Table -->
</div>
