{% extends "webapp/base.html" %}
{% block content %}
{% load i18n %}

<div class="expert category-2">

  <div class="bg-top">
    <div class="top-cover">
      {% include 'webapp/partials/nav.html' %}
      <div class="top-category-icon">
        <i class="fas fa-fingerprint"></i>
      </div>
      <h1 class="page">
          <span>Podmínky ochrany osobních údajů</span>
      </h1>
    </div>
  </div>

  <div class="page">
    <div class="row">
      <div class="col s12 main-content">

        <h4>I. Základní ustanovení</h4>
        <p>
        Správcem osobních údajů podle čl. 4 bod 7 nařízení Evropského parlamentu a Rady (EU) 2016/679 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů (dále jen: „GDPR”) je <br /><br />

        Getquantify s.r.o.. <br />
        IČ: 47 538 953 <br />
        se sídlem Beňadická 7, Bratislava, Sk. (dále jen: „správce“).<br /><br />

        Kontaktní údaje správce jsou<br />
        adresa: Beňadická 7, Bratislava, Sk<br />
        email: support@localexperts.cz<br /><br />

        Osobními údaji se rozumí veškeré informace o identifikované nebo identifikovatelné fyzické osobě; identifikovatelnou fyzickou osobou je fyzická osoba, kterou lze přímo či nepřímo identifikovat, zejména odkazem na určitý identifikátor, například jméno, identifikační číslo, lokační údaje, síťový identifikátor nebo na jeden či více zvláštních prvků fyzické, fyziologické, genetické, psychické, ekonomické, kulturní nebo společenské identity této fyzické osoby.
        Správce nejmenoval / jmenoval pověřence pro ochranu osobních údajů. Kontaktními údaji pověřence jsou: </p>

        <h4>II. Zdroje a kategorie zpracovávaných osobních údajů</h4>
        <p>
        Správce zpracovává osobní údaje, které jste mu poskytl/a nebo osobní údaje, které správce získal na základě plnění Vaší objednávky.
        Správce zpracovává Vaše identifikační a kontaktní údaje a údaje nezbytné pro plnění smlouvy. </p>

        <h4>III. Zákonný důvod a účel zpracování osobních údajů</h4>
        <p>
        Zákonným důvodem zpracování osobních údajů je
        plnění smlouvy mezi Vámi a správcem podle čl. 6 odst. 1 písm. b) GDPR,
        oprávněný zájem správce na poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. f) GDPR,
        Váš souhlas se zpracováním pro účely poskytování přímého marketingu (zejména pro zasílání obchodních sdělení a newsletterů) podle čl. 6 odst. 1 písm. a) GDPR ve spojení s § 7 odst. 2 zákona č. 480/2004 Sb., o některých službách informační společnosti v případě, že nedošlo k objednávce zboží nebo služby.
        Účelem zpracování osobních údajů je
        vyřízení Vaší objednávky a výkon práv a povinností vyplývajících ze smluvního vztahu mezi Vámi a správcem; při objednávce jsou vyžadovány osobní údaje, které jsou nutné pro úspěšné vyřízení objednávky (jméno a adresa, kontakt), poskytnutí osobních údajů je nutným požadavkem pro uzavření a plnění smlouvy, bez poskytnutí osobních údajů není možné smlouvu uzavřít či jí ze strany správce plnit,
        zasílání obchodních sdělení a činění dalších marketingových aktivit.
        Ze strany správce nedochází / dochází k automatickému individuálnímu rozhodování ve smyslu čl. 22 GDPR. S takovým zpracováním jste poskytl/a svůj výslovný souhlas. </p>

        <h4>IV. Doba uchovávání údajů</h4>
        <p>
        Správce uchovává osobní údaje
        po dobu nezbytnou k výkonu práv a povinností vyplývajících ze smluvního vztahu mezi Vámi a správcem.</p>

        <h4>V. Příjemci osobních údajů (subdodavatelé správce)</h4>
        <p>
        Příjemci osobních údajů jsou osoby
        podílející se na dodání zboží / služeb / realizaci plateb na základě smlouvy,
        zajišťující služby provozování e-shopu (Shoptet) a další služby v souvislosti s provozováním e-shopu,
        zajišťující marketingové služby.
        Správce nemá v úmyslu předat osobní údaje do třetí země (do země mimo EU) nebo mezinárodní organizaci.</p>

        <h4>VI. Vaše práva</h4>
        <p>
        Za podmínek stanovených v GDPR máte
        právo na přístup ke svým osobním údajům dle čl. 15 GDPR,
        právo opravu osobních údajů dle čl. 16 GDPR, popřípadě omezení zpracování dle čl. 18 GDPR.
        právo na výmaz osobních údajů dle čl. 17 GDPR.
        právo vznést námitku proti zpracování dle čl. 21 GDPR a
        právo na přenositelnost údajů dle čl. 20 GDPR.
        právo odvolat souhlas se zpracováním písemně nebo elektronicky na adresu nebo email správce uvedený v čl. III těchto podmínek.
        Dále máte právo podat stížnost u Úřadu pro ochranu osobních údajů v případě, že se domníváte, že bylo porušeno Vaší právo na ochranu osobních údajů.</p>

        <h4>VII. Podmínky zabezpečení osobních údajů</h4>
        <p>
        Správce prohlašuje, že přijal veškerá vhodná technická a organizační opatření k zabezpečení osobních údajů.
        Správce přijal technická opatření k zabezpečení datových úložišť a úložišť osobních údajů v listinné podobě, zejména …
        Správce prohlašuje, že k osobním údajům mají přístup pouze jím pověřené osoby.</p>

        <h4>VIII. Závěrečná ustanovení</h4>
        <p>
        Odesláním objednávky z internetového objednávkového formuláře potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.
        S těmito podmínkami souhlasíte zaškrtnutím souhlasu prostřednictvím internetového formuláře. Zaškrtnutím souhlasu potvrzujete, že jste seznámen/a s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.
        Správce je oprávněn tyto podmínky změnit. Novou verzi podmínek ochrany osobních údajů zveřejní na svých internetových stránkách a zároveň Vám zašle novou verzi těchto podmínek Vaši e-mailovou adresu, kterou jste správci poskytl/a.</p>

        <p>Tyto podmínky nabývají účinnosti dnem 1.11.2018.</p>
      </div>
    </div>
  </div>
</div>

{% include 'marketing/local_experts.html' %}

{% endblock %}


