{% load i18n %}

<form action="/webapp/search" method="get" id="search">
  <div class="row">
    <div class="col s12 m3 l3">
      <select
        type="number"
        id="id_category_id"
        name="category_id"
        {% if form.category_id.value != None %}
          value="{{ form.category_id.value|stringformat:'s' }}"
        {% endif %}
        >
        <option value="1">{% trans 'Lawyer' %}</option>
        <option value="2">{% trans 'Accountant' %}</option>
        <option value="3">{% trans 'Translator' %}</option>
      </select>
    </div>

    <div class="col s12 m3 l3" id="select-district-dd">
      <select
        id="id_district_id"
        name="district_id"
        type="number"
        {% if form.district_id.value != None %}
          value="{{ form.district_id.value }}"
        {% endif %}
        >
        {% include 'includes/district.html' %}
      </select>
    </div>

    <!-- Hidden default -->
    <input
      type="hidden"
      id="id_experience_minimal"
      name="experience_minimal"
      value="1"
      />

    <input
      type="hidden"
      id="id_district"
      name="district"
      value="1"
      />

    <input
      type="hidden"
      id="id_hour_rate_maximal"
      name="hour_rate_maximal"
      value="1000000"
      />

    <input
      type="hidden"
      step="any"
      id="id_rating_minimal"
      name="rating_minimal"
      value="1"
      />

    <div class="col s12 m3 l3 search-button">
      <input type="submit" class="btn" value="{% trans 'Search' %}" />
    </div>
  </div>
</form>

{% include 'includes/categories.html' %}
