{% extends "webapp/base.html" %}
{% block content %}
{% load i18n %}

<div class="expert">

  <div class="bg-top">
    <div class="top-cover">
      {% include 'webapp/partials/nav.html' %}
      <div class="top-category-icon">
        <i class="fab fa-leanpub"></i>
      </div>
      <h1 class="page">
          <span>Obchodní podmínky</span>
      </h1>
    </div>
  </div>

  <div class="page">
    <div class="row">
      <div class="col s12 main-content">

        <h4>I.Základní ustanovení</h4>
        <p>Tyto všeobecné obchodní podmínky (dále jen „obchodní podmínky“) jsou vydané dle § 1751 a násl. zákona č. 89/2012 Sb., občanský zákoník (dále jen „občanský zákoník“)<br/><br/>

        Getquantify s.r.o.<br/>
        IČ: 47 538 953<br/>
        DIČ: SK2023949785<br/>
        se sídlem: Beňadická 7, Bratislava, Sk<br/>
        zapsané u Okresného súdu Bratislava I, vložka 94779/B<br/><br/>

        Kontaktní údaje:<br/>
        email support@localexperts.cz<br/>
        www.localexperts.cz<br/>
        (dále jen „prodávající“)<br/><br/>


        Tyto obchodní podmínky upravují vzájemná práva a povinnosti prodávajícího a fyzické osoby, která uzavírá kupní smlouvu mimo svoji podnikatelskou činnost jako spotřebitel, nebo v rámci své podnikatelské činnosti (dále jen: „kupující“) prostřednictvím webového rozhraní umístěného na webové stránce dostupné na internetové adrese localexperts.cz. (dále je „internetový obchod“).
        Ustanovení obchodních podmínek jsou nedílnou součástí kupní smlouvy. Odchylná ujednání v kupní smlouvě mají přednost před ustanoveními těchto obchodních podmínek.
        Tyto obchodní podmínky a kupní smlouva se uzavírají v českém jazyce.</p>

        <h4>II. Zákaznický účet</h4>
        <p>Na základě registrace kupujícího provedené v internetovém obchodě může kupující přistupovat do svého zákaznického účtu. Ze svého zákaznického účtu může kupující provádět objednávání zboží. Kupující může objednávat zboží také bez registrace.
        Při registraci do zákaznického účtu a při objednávání zboží je kupující povinen uvádět správně a pravdivě všechny údaje. Údaje uvedené v uživatelském účtu je kupující při jakékoliv jejich změně povinen aktualizovat. Údaje uvedené kupujícím v zákaznickém účtu a při objednávání zboží jsou prodávajícím považovány za správné.
        Přístup k zákaznickému účtu je zabezpečen uživatelským jménem a heslem. Kupující je povinen zachovávat mlčenlivost, ohledně informací nezbytných k přístupu do jeho zákaznického účtu. Prodávající nenese odpovědnost za případné zneužití zákaznického účtu třetími osobami.
        Kupující není oprávněn umožnit využívání zákaznického účtu třetím osobám.
        Prodávající může zrušit uživatelský účet, a to zejména v případě, když kupující svůj uživatelský účet déle nevyužívá, či v případě, kdy kupující poruší své povinnosti z kupní smlouvy a těchto obchodních podmínek.
        Kupující bere na vědomí, že uživatelský účet nemusí být dostupný nepřetržitě, a to zejména s ohledem na nutnou údržbu hardwarového a softwarového vybavení prodávajícího, popř. nutnou údržbu hardwarového a softwarového vybavení třetích osob.</p>

        <h4>III. Doručování</h4>
        <p>Smluvní strany si mohou veškerou písemnou korespondenci vzájemně doručovat prostřednictvím elektronické pošty.
        Kupující doručuje prodávajícímu korespondenci na emailovou adresu uvedenu v těchto obchodních podmínkách. Prodávající doručuje kupujícímu korespondenci na emailovou adresu uvedenou v jeho zákaznickém účtu nebo v objednávce. </p>

        <h4>IV. Závěrečná ustanovení</h4>
        <p>
        Prodávající nenese odpovědnost za chyby vzniklé v důsledku zásahů třetích osob do internetového obchodu nebo v důsledku jeho užití v rozporu s jeho určením. Kupující nesmí při využívání internetového obchodu používat postupy, které by mohly mít negativní vliv na jeho provoz a nesmí vykonávat žádnou činnost, která by mohla jemu nebo třetím osobám umožnit neoprávněně zasahovat či neoprávněně užít programové vybavení nebo další součásti tvořící internetový obchod a užívat internetový obchod nebo jeho části či softwarové vybavení takovým způsobem, který by byl v rozporu s jeho určením či účelem.
        Kupující tímto přebírá na sebe nebezpečí změny okolností ve smyslu § 1765 odst. 2 občanského zákoníku.
        Znění obchodních podmínek může prodávající měnit či doplňovat. Tímto ustanovením nejsou dotčena práva a povinnosti vzniklá po dobu účinnosti předchozího znění obchodních podmínek.
        </p>

        <p>Tyto obchodní podmínky nabývají účinnosti dnem 1.11.2018</p>


      </div>
    </div>
  </div>
</div>

{% include 'marketing/local_experts.html' %}

{% endblock %}


