.news .top-cover{background-color:rgba(0,0,0, 0.7);}

.news.category-1 .top-category-icon {background: #50c5dc;}
.news.category-2 .top-category-icon {background: #ff4143;}
.news.category-3 .top-category-icon {background: #f4be49;}

.news .top-category-icon i {color: #fff;}

.article {
  padding: 30px 0;
}

.news-sidebar {
  margin-top: 150px;
}

.article h1 {
  font-size: 50px;
  line-height: 1.1;
  margin: 5px 0 20px 0;
  font-weight: bold;
  letter-spacing: -3px;
}

.article h1 a {
  color: #000;
}

.news.category-1 .article h1 a:hover { color: #50c5dc;}
.news.category-2 .article h1 a:hover { color: #ff4143;}
.news.category-3 .article h1 a:hover { color: #f4be49;}

.article h2 {
  font-size: 21px;
  font-weight: bold;
}

.article .source {
  font-size: 12px;
  text-transform: uppercase;
}

.article .body {
  display: block;
  line-height: 1.5;
  font-size: 15px;
  margin-bottom: 10px;
}

.article .created-date {
  font-size: 11px;
  color: #999;
  margin-bottom: 20px;
}

.article .source-link i {
  color: #999;
  font-size: 11px;
  float: right;
}
