footer {
  padding: 25px 0;
  background: #f2f2f2;
}

footer ul,
footer ul li {
  padding: 0px !important;
  margin: 0px;
}

footer ul li {
  display: block;
  margin-bottom: 5px;
}

footer a {
  font-size: 11px;
  color: #999;
  padding: 0 10px;
}

footer a:hover {
  color: #000;
}
